<div class="container">
    <div class="mb-3">
        <h2 class="text-primary mb-2"><%= caption %></h2>
        <%= button_to '新しく質問をする', new_question_path, method: :get, class: 'btn btn-outline-primary' %>
    </div>
</div>